$mainBgColor: #000000;
$secondaryBgColor: #131313;
$cardBgColor: #181818;
$cardBgHoverColor: #282828;
$hoverBgColor: #1a1a1a;
$mainTextColor: #a7a7a7;
$secondaryTextColor: #fff;
$mainGreenColor: #1fdf64;
$unActiveGreenColor: #1ed760;
$tippyBgColor: #0d72ea;
$mixCardBgColor: hsla(0,0%,100%,.07);
$mixCardHoverBgColor: hsla(0,0%,100%,.19);

$panelGap: 8px;
$sideGap: 15px;
$shelfGap: 16px;
$borderRadius-8: 8px;
